html {
  font-size: 17px;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

.mt-0 {
  margin-top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

header h1 {
  margin: 0;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-left: 0.75rem;
}

a {
  text-underline-offset: 0.17em;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

#output {
  border: 1px solid;
  padding: 1rem;
  margin: 2rem auto;
}

#results,
#episode-explorer ul {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
}

#results li,
#episode-explorer li {
  margin-bottom: 1rem;
}

#results a {
  display: inline-block;
  color: inherit;
}

#results li > span {
  display: block;
}

#results p,
#episode-explorer p {
  margin: 0.2em auto;
}

#results mark {
  font-weight: 700;
}

#results span,
#episode-explorer span.character {
  color: rgba(0,0,0,0.6);
}

#results strong {
  font-weight: 400;
  color: rgba(0,0,0,1);
}

#episode-explorer {
  background-color: white;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  bottom: 0;
  box-shadow: 0 0.05em 0.15em #0000001a, 0 0.15em 0.9em #00000005;
  height: 50vh;
  max-height: 500px;
  width: 500px;
  overflow-y: auto;
  padding: 0 1.4rem 1rem;
  position: fixed;
  right: 2rem;
}

@media (max-width: 800px) {
  #episode-explorer {
    right: 1rem;
    left: 1rem;
    width: auto;
  }
}

#episode-explorer:empty {
  display: none;
}

#episode-explorer h3 {
  margin: 0 -1.4rem;
  position: sticky;
  top: 0;
  padding: 1.2rem 1.4rem 0.9rem;
  background-color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

#episode-explorer ul {
  margin-top: 0;
}

#episode-explorer button {
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  box-shadow: 0 0 40px 20px #ffffffbd;
}


.selected-quote p span {
  background-color: yellow;
  font-weight: 700;
}

input, button {
  appearance: none;
  border-radius: 0.35em;
  font-size: 1rem;
  padding: 0.25em 0.65em;
  line-height: 1;
  box-shadow: 0 0.05em 0.15em #0000001a, 0 0.15em 0.9em #00000005;
}

input[type="search"] {
  width: 100%;
  max-width: 420px;
}

input[type="number"] {
  width: 3em;
}

input[type="search"], input[type="number"] {
  background-color: white;
  border: 1px solid #d5d5d5;
  border-top-color: #00000017;
  border-bottom-color: #00000036;
}

button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding-left: 0.55em;
  padding-right: 0.55em;
}

button:hover, button:active {
  background-color: black;
}

form input {
  margin-left: 7px;
  margin-right: 17px;
}
