html {
  font-size: 17px;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

.mt-0 {
  margin-top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

header h1 {
  margin: 0;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-left: 0.75rem;
}

a {
  text-underline-offset: 0.17em;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

#output {
  border: 1px solid;
  padding: 1rem;
  margin: 2rem auto;
}

#results {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
}

#results li {
  margin-bottom: 1rem;
}

#results p {
  margin: 0.2em auto;
}

#results mark {
  font-weight: 700;
}

#results span {
  color: rgba(0,0,0,0.6);
}

#results strong {
  font-weight: 400;
  color: rgba(0,0,0,1);
}

input, button {
  font-size: 1rem;
}
